
<div class="form-group col-md-4">
    <%= f.label :name %><br />
    <%= f.text_field :name, readonly: fields_editable?(f.object), class: "form-control" %>
</div>
<div class="form-group col-md-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, readonly: fields_editable?(f.object), class: "form-control" %>
</div>

<%= f.fields_for :profile, @profile  do |profile_fields| %>
    <div class="form-group col-md-4">
        <%= profile_fields.label :phone_number %>
        <%= profile_fields.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :address_line %>
        <%= profile_fields.text_field :address_line, readonly: admin_fields_editable?(f.object), class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :street %>
        <%= profile_fields.text_field :street, readonly: admin_fields_editable?(f.object), class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :landmark %>
        <%= profile_fields.text_field :landmark, readonly: admin_fields_editable?(f.object), class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :city %>
        <%= profile_fields.text_field :city, readonly: admin_fields_editable?(f.object), class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :state %>
        <%= profile_fields.text_field :state, readonly: admin_fields_editable?(f.object), class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :pin_code %>
        <%= profile_fields.text_field :pin_code, readonly: admin_fields_editable?(f.object), class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
        <%= profile_fields.label :avatar %>
        <%= profile_fields.file_field :avatar, multiple: false, class: "form-control" %>
    </div>
<% end %> 