<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
            <li class="breadcrumb-item active">Users</a></li>
        </ol>
      </div>
      <h4 class="page-title">Users</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table  table-bordered" id="products-datatable">
            <thead class="thead-light">
              <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Address</th>
               <% if current_user.admin? %>
                  <th style="width: 15%;">Manage</th>
               <% end %>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= full_address(user.profile) %></td>
                  <% if current_user.admin? %>
                    <td>
                      <%= link_to(edit_user_path(user),:class=>"action-icon") do %>
                        <i class="mdi mdi-square-edit-outline"></i>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col -->
</div>
