<!DOCTYPE html>
<html>
  <head>
    <title>UserRegistration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <style>
      th{
        font-weight: bold;
      }
    </style>
  </head>

  <body  class="loading" data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "light"}}'>
    <div id="wrapper">
      <% if user_signed_in? %>
        <%= render "top_header"%>
        <%= render partial: "application/top_sub_nav" %>
      <% end %>
      <div class="content-page">
        <div class="content">

          <div class="container-fluid">
            <%= render "application/flash_message" %>
            <%= yield %>
          </div>

        </div>
        
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= javascript_pack_tag 'admin' %>
    <%= yield :javascript %>
  </body>
</html>
